/* google fonts */
body {
  font-family: 'ff-scala-sans-pro', sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'ff-scala', serif ;
}

.font-serif {
  font-family: 'ff-scala', serif;
}

.font-sans-serif, .font-sanserif, .font-sansserif, .font-sans {
  font-family: 'ff-scala-sans-pro', sans-serif;
}


/* Max Height utility classes for the designer. To be used for header images etc. */
.max-height-3-2em {
  max-height: 3.2em;
}
.max-height-3em {
  max-height: 3em;
}
.max-height-2-8em {
  max-height: 2.8em;
}
.max-height-2-5em {
  max-height: 2.5em;
}
.max-height-2em {
  max-height: 2em;
}
.max-height-1-5em {
  max-height: 1.5em;
}
.max-height-1em {
  max-height: 1em;
}


/* ======================================== */
/* FB block */
.block-facebook-post ul li {
  list-style: none;
  clear: both;
  padding: 0 0 30px 0;
}

.block-facebook-post .fb-pic {
  float: right;
  padding: 0 0 10px 10px;
}

/* ======================================== */
/* EO_google fonts */

@media all and (min-width: 40em) {
  .region.region-primary-menu {
    display:flex;
  }
  .region.region-primary-menu nav {
    margin: auto 0;
    width: 100%;
  }
  .region.region-primary-menu nav .content {
    float: right;
    vertical-align: middle;
  }
  .region.region-primary-menu nav ul {
    float: right;
    vertical-align: middle;
  }
  .region.region-primary-menu nav a {
    vertical-align: middle;
    border: none;
    border-radius: initial;
    padding: 6px 5px;
    margin: 0 25px;
    text-decoration: none !important;
  }

  .region.region-primary-menu nav a:last-child {
    margin-right: 0;
  }

  .region.region-primary-menu nav a:active,
  .region.region-primary-menu nav a.is-active {
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
    padding:5px;
  }

  .region.region-primary-menu nav a:focus,
  .region.region-primary-menu nav a:hover,
  .region.region-primary-menu nav a.has-focus {
    padding:5px;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
  }

  .region-header .menu--account {
    float: right;
  }
  .region-header .menu--tools {
    float: right;
  }

  .block-system-branding-block {
    max-width: 400px;
    margin-right: 0;
    float:left;
  }

  .block-system-branding-block img {
    max-width:100%;
    height: auto;
  }

  .block-social-media-links {
    float:right;

  }
  .block-social-media-links a {
    color: #000;
  }
  .block-social-media-links li {
    margin: 0 5px;
  }
}

/*  Event related css */

div.view-up-next ul.pager__items {
  display: none;
}

article.node--type-event .layout__region {
  padding: 5px;
}

article.node--type-event .layout--twocol-section.layout--twocol-section--67-33 .layout__region--first {
  flex: 0 1 60%;
}

article.node--type-event .layout--twocol-section.layout--twocol-section--67-33 .layout__region--second {
  flex: 0 1 40%;
}

.block-field-blocknodeeventfield-image .field--name-field-image {
  margin: 0;
}

article.node--type-event .block-field-blocknodeeventfield-image img {
  margin: 0;
}


header, #header {
  font-family: 'ff-scala', serif ;
}
footer, #footer, .site-footer {
  font-family: 'ff-scala', serif ;
}
#page h2 {
  font-family: 'ff-scala', serif ;
}

#page a,
#page .link,
#page a:hover,
#page a:focus,
#page a:active,
#page a:visited {
  color: #000;
}

#page a,
#page .link {
  font-weight: bold;
  text-decoration: dashed;
}

a:visited {
  font-style: italic;
}

a img {
  border: none;
  text-decoration: none;
}

#block-socialmedialinks{
  margin-bottom: 0;
}
.block-system-branding-block {
  margin-left:16px;
}
/* Default: mobile etc */
.block-social-media-links li {
    margin: 0 5px;
}
.block-social-media-links {
    float:right;

}
.block-social-media-links a {
  color: #000;
}


/* =========================== */
/* column and block based box-sizing with padding */

.layout__region--first, .layout__region--second {
  padding: 5px 15px;            /* new */
  box-sizing: border-box;  /* new */
  min-width: 0;
}



/* =========================== */
/*  SLIDER CSS  and colours -- TODO: to be moved  */
.slider_description,
.slider_name {
  display: none;
}

#page  a.r_events:hover,
#page  a.r_events:visited,
#page  a.r_events:active,
#page  a.r_events:focus,
#page  a.r_events,
#page  .r_events,
#page  .r_purple {
  color: #993d85
}

#page  a.r_community:hover,
#page  a.r_community:visited,
#page  a.r_community:active,
#page  a.r_community:focus,
#page  a.r_community,
#page  .r_community {
  color: #de9600
}

#page  a.r_talks:hover,
#page  a.r_talks:visited,
#page  a.r_talks:active,
#page  a.r_talks:focus,
#page  a.r_talks,
#page  .r_talks {
  color: #0092b4
}

#page  a.r_courses:hover,
#page  a.r_courses:visited,
#page  a.r_courses:active,
#page  a.r_courses:focus,
#page  a.r_courses,
#page  .r_courses {
  color: #70832f
}

#page  a.r_live:hover,
#page  a.r_live:visited,
#page  a.r_live:active,
#page  a.r_live:focus,
#page  a.r_live,
#page  .r_live {
  color: #ce471f
}

article.node--type-event header {
  display: none;
}

article.node--type-event div.content {
  margin: 0;
}

article.node--type-event .field--type-datetime {
  font-size: 0.95em;
  line-height: 1.2em;
}

article.node--type-event .field--name-field-event-type {
  padding-top: 3px;
  font-size: 0.95em;
  font-weight: 300;
  line-height: 1.2em;
  font-stretch: semi-expanded;
}

article.node--type-event .field--name-title {
  font-size: 0.95em;
  line-height: 1.2em;
  font-stretch: condensed;
}

article.node--type-event .field--name-field-description-body-text {
  font-size: 0.75em;
  line-height: 1.2em;
}

article.node--type-event .field--name-field-description-body-text p {
  margin-bottom: 0px;
}

article.node--type-event .field--name-field-link-to-event-page {
  font-size: 0.65em;

}

article.node--type-event .field--name-field-image {
  opacity: 1;
}

.about-us-sidebar {
  padding: 15px;
  background-color: lightgrey;
  margin: 0 0 0 20px;
}

.about-us-sidebar img {
  margin: 5px auto;
  max-width: 250px;
  min-width: 100px;
  width: auto;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}

.about-us-sidebar p {
  margin: 5px auto;
  max-width: 200px;
}

footer.site-footer {
  margin-top: 0;
  padding-top: 1px;
}
footer img {
  max-height: 40px;
  width:auto;
}
#page footer.site-footer table a {
  text-decoration: none;
  border: none;
}
#main {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}