/* google fonts */
body {
  font-family: 'ff-scala-sans-pro', sans-serif;
  font-size: 1.25em;
  line-height: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'ff-scala', serif ;
}

.buenard{
  font-family: 'Buenard', serif ;
}
.fira{
  font-family: 'Fira Sans', sans-serif;
}

/* ======================================== */
/* FB block */
.block-facebook-post ul li {
  list-style: none;
  clear: both;
  padding: 0 0 30px 0;
}

.block-facebook-post .fb-pic {
  float: right;
  padding: 0 0 10px 10px;
}

/* ======================================== */
/* EO_google fonts */

@media all and (min-width: 851px) {
  .region.region-primary-menu {
    display:flex;
  }
  .region.region-primary-menu nav {
    margin: auto 0;
    width: 100%;
  }
  .region.region-primary-menu nav .content {
    float: right;
  }
  
  .region.region-primary-menu nav a {
    border: none;
    border-radius: initial;
  }

  .region.region-primary-menu nav a:active,
  .region.region-primary-menu nav a.is-active {
    border-top: 1px dotted #000;
    border-bottom: 1px dotted #000;
  }

  .region.region-primary-menu nav a:focus,
  .region.region-primary-menu nav a:hover,
  .region.region-primary-menu nav a.has-focus {
    border-top: 1px dotted #000;
    border-bottom: 1px dashed #000;
  }

  .region-header .menu--account {
    float: right;
  }
  .region-header .menu--tools {
    float: right;
  }

  .block-system-branding-block {
    max-width: 400px;
    margin-right: 0;
    float:left;
  }

  .block-system-branding-block img {
    max-width:100%;
    height: auto;
  }

  .block-social-media-links {
    float:right;

  }
  .block-social-media-links a {
    color: #000;
  }
  .block-social-media-links li {
    margin: 0 5px;
  }
}
#page a,
#page .link,
#page a:hover,
#page a:focus,
#page a:active,
#page a:visited {
  color: #000;
}

#page a,
#page .link {
  font-weight: bold;
}

#page a:hover,
#page a:focus,
#page a:active {
  text-decoration: underline;
}

a:visited {
  font-style: italic;
}


#block-socialmedialinks{
  margin-bottom: 0;
}
.block-system-branding-block {
  margin-left:16px;
}
/* Default: mobile etc */
.block-social-media-links li {
    margin: 0 5px;
}
.block-social-media-links {
    float:right;

}
.block-social-media-links a {
  color: #000;
}


/* =========================== */
/* column and block based box-sizing with padding */

.layout__region--first, .layout__region--second {
  padding: 5px 15px;            /* new */
  box-sizing: border-box;  /* new */
  min-width: 0;
}



/* =========================== */
/*  SLIDER CSS  and colours -- TODO: to be moved  */
.slider_description,
.slider_name {
  display: none;
}

#page  a.r_events:hover,
#page  a.r_events:visited,
#page  a.r_events:active,
#page  a.r_events:focus,
#page  a.r_events,
#page  .r_events,
#page  .r_purple {
  color: #993d85
}

#page  a.r_community:hover,
#page  a.r_community:visited,
#page  a.r_community:active,
#page  a.r_community:focus,
#page  a.r_community,
#page  .r_community {
  color: #de9600
}

#page  a.r_talks:hover,
#page  a.r_talks:visited,
#page  a.r_talks:active,
#page  a.r_talks:focus,
#page  a.r_talks,
#page  .r_talks {
  color: #0092b4
}

#page  a.r_courses:hover,
#page  a.r_courses:visited,
#page  a.r_courses:active,
#page  a.r_courses:focus,
#page  a.r_courses,
#page  .r_courses {
  color: #70832f
}

#page  a.r_live:hover,
#page  a.r_live:visited,
#page  a.r_live:active,
#page  a.r_live:focus,
#page  a.r_live,
#page  .r_live {
  color: #ce471f
}


article.node--type-event header {display: none;}
article.node--type-event div.content {margin:0;}

article.node--type-event .field--type-datetime {
    font-size: 9pt;
    line-height: 8pt; 
}

article.node--type-event .field--name-field-event-type{
  padding-top: 3px;
    font-size: 9pt;
    line-height: 9pt; 
        font-stretch: semi-expanded;
}

article.node--type-event .field--name-title{
    font-size: 10pt;
    line-height: 11pt; 
}

article.node--type-event .field--name-field-description-body-text{
    font-size: 8pt;
    line-height: 9pt; 
}

article.node--type-event .field--name-field-link-to-event-page{
font-size: 8pt;
    line-height: 10pt; 
}

article.node--type-event .field--name-field-image{
  opacity:1;
}

.about-us-sidebar {
  padding: 15px;
  background-color: lightgrey;
  margin: 0 0 0 20px;
}

.about-us-sidebar img {
  margin: 5px auto;
  max-width: 200px;
}

.about-us-sidebar p {
  margin: 5px auto;
  max-width: 200px;
}

footer.site-footer {
  margin-top: 0;
  padding-top: 1px;
}
footer img {
  max-height: 40px;
  width:auto;
}
#main {
  padding-bottom: 0;
  margin-bottom: 0;
}